@media only screen and (max-width: 576px){
    .second-banner .nav-tabs .nav-link.active {
        border-radius: 0px;
        color: #fff;
    }
    
    .second-banner .nav-tabs .nav-item {
    border: 1px solid #000;
    margin: 10px 0;
    width: 46%;
}
.second-banner .nav-tabs .nav-link {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    width: 100%;
    padding: 10px 0;
}
.tab-content .img-fluid{
  width: 100%;
}
.second-banner .nav-tabs{
    padding: 10px 0;
    background: transparent;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 100%;
    border-radius: inherit;
    border: none;
    margin-bottom: 0px;
}
.second-banner .nav-tabs .nav-item:last-child{
    width: 100%;
}
.second-banner .nav-tabs.nav-link, .nav-tabs .nav-link.active {
    border: none;
    border-radius: 0;
    margin: 0 !important;
}
.second-banner-heading h1 {
    font-size: 24px !important;;
    line-height: 30px !important;
}
section.brand-sec {
        padding: 40px 0;
        text-align: center;
        background-color: #f9f1dc;
}
    .banner2 .bg-light {
    background: #000000 !important;
    background-color: none !important;
}
section.brand-sec{
  padding: 40px 0;
  text-align: center;
}
.logo-brand h3 {
        font-size: 25px;
        padding-bottom: 12px;
        font-weight: 600;  }
    .brand-image {
        margin-bottom: 20px;
    }
    .brand-image h1 {
        text-align: center;
        font-size: 40px;
    }
        .brand-image h3 {
        font-size: 20px;
        text-align: center;
    }
    .brand-sec::before{
        display:none !important;
    }
}